.body{
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: rgba(255, 255, 255, 0.075);
    box-shadow: 0 8px 32px 0 rgba(31, 135, 36, 0.37);
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 7px );
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.479);
}
.itemlist{
    margin: 0 -1rem;
    padding: 20px;
}
.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 400px;
}
@media (max-width: 425px){
    .loading{
        margin-top: 250px;
    }
}