@keyframes neonlight{
    0%{
        box-shadow: 0px 1px 1px 1px rgba(21, 255, 0, 0.5);
    }
    50%{
        box-shadow: 0px 2px 6px 5px rgba(21, 255, 0, 1);
    }
    100%{
        box-shadow: 0px 1px 1px 1px rgba(21, 255, 0, 0.5);
    }
}


.card {
    font-family: 'Chakra Petch', sans-serif;
    position: relative;
    width: 375px;
    height: 600px;
    background: #040f00bb;
    border-radius: 20px;
    overflow: hidden;
    margin: 10px 10px 20px 10px;
}
.card:hover {
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.6);
    animation-name: neonlight;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
}
.card::before {
    content: "";
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background: #7bff002d;
    transform: skewY(345deg);
    transition: 0.5s;
}
.card:hover::before {
    top: -70%;
    transform: skewY(390deg);
}
.card::after {
    font-family: 'Chakra Petch', sans-serif;
    content: "KOG";
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 600;
    font-size: 6em;
    color: rgba(0, 0, 0, 0.1);
}
.card .imgBox {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
}
.card .imgBox img {
    width: 100%;
    height: 100%;
    padding: 10px;
}
.card .contentBox {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}
.card .contentBox h3 {
    font-size: 18px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
}
.card .contentBox .price {
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    letter-spacing: 1px;
}
.card .contentBox .addOrdelete {
    display: flex;
    flex-direction: row;
}
.product {
    height: 300px;
    width: auto;
}
.btn__container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 20px;
}
button.agg{
    --green: #2bff00;
    font-size: 15px;
    font-weight: bold;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: 'Chakra Petch', sans-serif;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(27, 253, 27, 0.1) 1%, transparent 40%,transparent 60% , rgba(35, 253, 27, 0.1) 100%);
    color: var(--green);
    box-shadow: inset 0 0 10px rgba(27, 253, 27, 0.4), 0 0 9px 3px rgba(27, 253, 27, 0.1);
}
button.agg:hover {
    color: #00b600;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 0 0 10px rgba(35, 253, 27, 0.6), 0 0 9px 3px rgba(27, 253, 38, 0.2);
}
button.agg:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(27, 42, 253, 0.1) 40%,rgba(27, 31, 253, 0.1) 60% , transparent 100%);
}
button.agg:hover:before {
    transform: translateX(15em);
}

@media (max-width: 859px){
    .card {
        width: 325px;
        height: 550px;
    }
}
@media (max-width: 375px){
    .card {
        width: 300px;
        height: 525px;
    }
}
@media (max-width: 320px){
    .card {
        width: 250px;
        height: 475px;
    }
}