.bodyy{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #59fd0d07;
}
.containerdetail{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 900px;
    height: 600px;
    background: rgba(255, 255, 255, 0.705);
    margin: 20px;
    padding: 10px 10px 10px 10px;
    border-radius: 3px;
}
.containerdetail .imgBx{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background: #075700c0;
    border-radius: 3px;
}
.containerdetail .imgBx::before{
    content: 'KOG';
    position: absolute;
    top: -25px;
    left: 20px;
    color: #000;
    opacity: 0.15;
    font-size: 8em;
    font-weight: 800;
}
.containerdetail .imgBx img{
    position: relative;
    width: 700px;
    left: 0px;
}
.containerdetail .details{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 40px;
}
.containerdetail .details h2{
    margin: 15px;
    padding: 0;
    font-size: 2.5rem;
    line-height: 0.8em;
    color: rgb(0, 0, 0);
}
.containerdetail .details h2 span{
    font-size: 0.4em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #444;
}
.containerdetail .details p{
    max-width: 85%;
    margin-left: 12%;
    text-align: left;
    color: #222;
    font-size: 15px;
}
.containerdetail .details h3{
    margin: 0;
    padding: 0;
    font-size: 2.5rem;
    color: #000000;
    float: left;
}

@media (max-width: 1080px){
    .container{
        height: auto;
    }
    .container .imgBx{
        padding: 40px;
        box-sizing: border-box;
        width: 100% !important;
        height: auto;
        text-align: center;
        overflow: hidden;
    }
    .container .imgBx img{
        left: initial;
        max-width: 100%;
    }
    .details{
        width: 100% !important;
        height: auto;
        padding: 20px;
    }
    .details p{
        max-width: 100%;
        margin-left: 0;
    }
    .details h3{
        width: 43%;
    }
}