.itemDetailContainerGlobal{
    padding-top: 65px;
}
.bodyy{
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.containerdetail{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 900px;
    height: 600px;
    margin: 20px;
    background: rgba(0, 0, 0, 0.85);
    border-radius: 10px;
    box-shadow: 0px 2px 6px 5px rgba(21, 255, 0, 1);
}
.containerdetail .imgBx{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background: #075700c0;
    border-radius: 10px;
}
.containerdetail .imgBx::before{
    font-family: 'Chakra Petch', sans-serif;
    content: 'KOG';
    position: absolute;
    top: -25px;
    left: 20px;
    color: #000;
    opacity: 0.15;
    font-size: 8em;
    font-weight: 800;
}
.containerdetail .imgBx .imgdetail{
    position: relative;
    width: 700px;
    left: 0px;
}
.containerdetail .details{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 40px;
}
.containerdetail .details h2{
    margin: 0;
    padding: 0;
    font-size: 2.5rem;
    line-height: 0.8em;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.containerdetail .details h2 span{
    font-size: 0.4em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(138, 138, 138);
}
.containerdetail .details p{
    max-width: 85%;
    margin-left: 10%;
    text-align: justify;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 600;
}
.containerdetail .details h3{
    margin: 0;
    padding: 0 0 0 45px;
    font-size: 2.5em;
    color: #ffffff;
    float: left;
}

.btns{
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 5px;
}

@media (max-width: 1080px){
    .containerdetail{
        height: auto;
    }
    .containerdetail .imgBx{
        padding: 40px;
        box-sizing: border-box;
        width: 100% !important;
        height: auto;
        text-align: center;
        overflow: hidden;
    }
    .containerdetail .imgBx .imgdetail{
        left: initial;
        max-width: 100%;
    }
    .details{
        width: 100% !important;
        height: auto;
        padding: 20px;
    }
    .details p{
        max-width: 100%;
        margin-left: 0;
    }
    .details h3{
        width: 45%;
    }
}
@media (max-width: 561px){
    .details h3{
        width: 92%;
    }
    .botones{
        width: 100%;
    }
}
@media (max-width: 450px){
    .itemDetailContainerGlobal{
        padding-top: 56px;
    }
    .details h3{
        width: 88%;
    }
    .botones{
        width: 100%;
        flex-direction: column;
    }
    .btns{
        margin-top: 20px;
    }
}
@media (max-width: 410px){
    .details h3{
        width: 87%;
    }
    .botones{
        font-size: 10px;
    }
}