.bodyy{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0d6dfd46;
}
.container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 900px;
    height: 600px;
    background: whitesmoke;
    margin: 20px;
    padding: 10px 10px 10px 10px;
    border-radius: 3px;
}
.container .imgBx{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background: #0d6efd;
    border-radius: 3px;
}
.container .imgBx::before{
    content: 'AMD';
    position: absolute;
    top: 20px;
    left: 20px;
    color: #000;
    opacity: 0.15;
    font-size: 8em;
    font-weight: 800;
}
.container .imgBx img{
    position: relative;
    width: 700px;
    left: 0px;
}
.container .details{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 40px;
}
.container .details h2{
    margin: 15px;
    padding: 0;
    font-size: 2.5rem;
    line-height: 0.8em;
    color: #444;
}
.container .details h2 span{
    font-size: 0.4em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #999;
}
.container .details p{
    max-width: 85%;
    margin-left: 12%;
    text-align: left;
    color: #333;
    font-size: 15px;
}
.container .details h3{
    margin: 0;
    padding: 0;
    font-size: 2.5rem;
    color: #a2a2a2;
    float: left;
}
.container .details button{
    outline: none;
    padding: 15px 20px;
    margin-top: 15px;
    float: right;
}

@media (max-width: 1080px){
    .container{
        height: auto;
    }
    .container .imgBx{
        padding: 40px;
        box-sizing: border-box;
        width: 100% !important;
        height: auto;
        text-align: center;
        overflow: hidden;
    }
    .container .imgBx img{
        left: initial;
        max-width: 100%;
    }
    .details{
        width: 100% !important;
        height: auto;
        padding: 20px;
    }
    .details p{
        max-width: 100%;
        margin-left: 0;
    }
    .details h3{
        width: 40%;
    }
    .container .details button{
        width: 60%;
    }
}
@media (max-width: 500px){
    .details h3{
        width: 100%;
    }
    .container .details button{
        width: 100%;
    }
}