.contador{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 10px;
}
select{
    background-color: rgba(255, 255, 255, 0.103);
    font-weight: 600;
    width: 120px;
    border-radius: 5px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    color: rgb(0, 0, 0);
}
@media (max-width: 1024px){
    .contador{
        width: 25%;
        top: 0px;
        left: 100px;
    }
}
@media (max-width: 425px){
    .contador{
        width: 50%;
        left: 20px;
    }
}