select{
    font-weight: 600;
    width: 120px;
    border-radius: 5px;
    border-color: blue;
    border-width: 2px;
    color: blue
}
@media (max-width: 499px){
    select{
        width: 100%;
        margin-top: 10px;
        
    }
}
@media (min-width: 1081px){
    select{
        width: 90px;
        
    }
}